<h1> Reserva de salas e laboratorios. </h1>
        <form ng-submit="ctl.salvarreserva()">
            <fieldset>
                <label>Espaço: </label><br/>
                <input name="espaco" ng-model = "ctl.novo.nomeespaco"/><br/>
                <label>Nome do Professor:</label><br/>
                <input name="nome" ng-model="ctl.novo.nomepessoa"/><br/>
                <label>Horario de inicio:</label><br/>
                <input name="horario-inicio" type="datetime" ng-model="ctl.novo.datacomeco"/><br/>
                <label>Horario de encerramento:</label><br/>
                <input name="horario-fim" type="datetime" ng-model="ctl.novo.datafim"/><br/>
                <input type="submit"/></br>
            </fieldset>
        </form>
        <form ng-submit="ctl.excluirreserva()">
            <fieldset>
                <label> ID - RESERVA:  </label>
                <input name="idreserva" ng-model ="ctl.novo.idreserva">
                <button type=submit>Deletar Reserva</button>
            </fieldset>
        </form>
        <table>
            <tr>
                <td> ID - RESERVA </td>
                <td> ESPAÇO - RESERVA</td>
                <td> NOME - RESERVA</td>
                <td> DATA/HORARIO - INICIO</td>
                <td> DATA/HORARIO - FIM</td>
            </tr>
            <tr ng-repeat="rs in ctl.reservas">
               <td>{{rs.idreserva}}</td>
               <td>{{rs.nomeespaco}} </td>
               <td> {{rs.nomepessoa}} </td>
               <td> {{rs.datacomeco | date:"yyyy/MM/dd hh:mm"}} </td>
               <td>{{rs.datafim | date:"yyyy/MM/dd hh:mm"}} </td>
            </tr>
        <table>
